<div id="message">
    DevOps demo application.
  </div>
  <div id="info">
    <table>
        <tr>
            <td> 
                <table>
                    <tr>
                        <th>Pod:</th>
                    </tr>
                    <tr>
                        <td>Name: {{podName}}</td>
                    </tr>
                    <tr>  
                        <td>Namespace: {{podNamespace}}</td>
                    </tr>
                    <tr>  
                        <td>IP: {{podIP}}</td>
                    </tr>
                    <tr>  
                        <td>Version: {{podVersion}}</td>
                    </tr>
                    <tr>  
                        <td>Environment: {{podEnv}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <th>Node:</th>
                    </tr>
                    <tr>
                        <td>Architecture: {{nodeArch}}</td>
                    </tr>
                    <tr>
                        <td>Platform: {{nodePlatform}}</td>
                    </tr>
                    <tr>
                        <td>Release: {{nodeRelease}}</td>
                    </tr>
                    <tr>
                        <td>Host: {{nodeHost}}</td>
                    </tr>
                </table>
            </td>
        </tr>
</table>

  </div>